html,
body,
* {
	position: relative;

	margin: 0;
	padding: 0;
}

a:hover,
a:focus,
a:visited {
	color: initial;
}

.page-wrapper {
	max-width: 1080px;
	margin: 40px auto;

	text-align: center;
}

h1 {
	margin: 40px 0;
}

.form {
	margin: 40px 0;
}

.form__item {

	margin: 5px auto;
	max-width: 350px;

	text-align: right;
}

.form__input {
	width: 50px;
	text-align: right;
	margin-right: 90px;

	outline: none;
}

.form__input.no-margin {
	margin: 0;
}

.form__input--narrow {
	width: 20px;
}

.form__item button {
	display: block;
	width: 100%;
	background-color: #20c400;
	padding: 10px;
	font-size: 35px;
	color: #FFF;
	margin-top: 25px;
	text-transform: uppercase;
	border-radius: 8px;
	border: none;
	box-shadow: 0px 0px 20px 8px #ccc;
	cursor: pointer;

	outline: none;
	font-weight: bold;
}

#result table {
	margin: 40px auto;
	border-collapse: collapse;
}

#result table tr.winner {
	background-color: rgba(32, 196, 0, .3);
}

#result table tr.loser {
	background-color: rgba(255, 0, 0, .3);
}

#result table th,
#result table td {
	padding: 5px;
	text-align: right;
}

.navigator {
	position: fixed;

	bottom: -1px;
	right: -1px;

	padding: 20px;
	border: 1px solid #666;

	font-size: 30px;
}

.navigator__bottom,
.navigator__top {
	text-transform: lowercase;

	color: #000;

	text-decoration: none;
}

#summary_box {
	position: fixed;
	display: block;

	opacity: 0;

	right: 0;
	top: 50%;

	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
			transform: translateY(-50%);

	box-shadow: 0 0 16px 0 #BBB;

	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-bottom: 1px solid #666;

	text-align: left;
	background: rgba(32, 196, 2, 0.3);
	border-top-left-radius: 20%;
	border-bottom-left-radius: 20%;

	padding: 40px;
}

/* Summary box */

#summary_box h3 {
	margin-bottom: 15px;
	border-bottom: 6px double #000;
}

#summary_box span {
	width: 115px;
	text-align: right;
	display: inline-block;
	margin-right: 8px;
}

#summary_box b {
	text-align: left;
}